@using System.Globalization
@using System.Text
@using PlatformStatusTracker.Core.Data
@using PlatformStatusTracker.Core.Model
@model PlatformStatusTracker.Web.ViewModels.Home.ChangesViewModel
@{
    ViewBag.Title = Model.Date.ToString("D", DateTimeFormatInfo.InvariantInfo) + " - Changes";
}

<article>
    <h1>@Model.Date.ToString("D", DateTimeFormatInfo.InvariantInfo) (UTC)</h1>
    @Html.Partial("Partial/ChangeSets", Model.ChangeSets)
</article>
