@using System.Globalization
@using System.Text
@using PlatformStatusTracker.Core.Data
@using PlatformStatusTracker.Core.Model
@model PlatformStatusTracker.Web.ViewModels.Home.ChangesViewModel
@{
    ViewBag.Title = Model.Date.ToString("yyyy-MM-dd", DateTimeFormatInfo.InvariantInfo) + " - Changes";
}

<article>
    <h1>@Model.Date.ToString("yyyy-MM-dd", DateTimeFormatInfo.InvariantInfo)</h1>
    <partial name="Partial/ChangeSets" model="Model.ChangeSets" />
</article>
